<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.producttracing.dao.UserDao">

    <!--后台登录 湛玉欣 2019.8.21-->
    <select id="adminLogin" parameterType="java.lang.String" resultType="org.taru.producttracing.pojo.Admin">
            select
                    admin_id as adminId,
                    admin_name as adminName,
                    admin_password as adminPassword,
                    admin_photo as adminPhoto,
                    admin_address as adminAddress,
                    admin_telphone as adminTelphone,
                    admin_status as adminStatus
            from    admin
            where   admin_name=#{adminName} and admin_password=#{adminPassword}
    </select>

    <!--添加工厂 湛玉欣 2019.8.21-->
    <insert id="addFactory" parameterType="org.taru.producttracing.pojo.Factory">
        insert into
                factory(factory_id,
                        factory_name,
                        factory_logo,
                        factory_telphone,
                        factory_address,
                        factory_business_photo,
                        factory_license,
                        factory_register_time,
                        factory_legalperson,
                        factory_status)
        values (#{factoryId},
                #{factoryName},
                #{factoryLogo},
                #{factoryTelphone},
                #{factoryAddress},
                #{factoryBusinessPhoto},
                #{factoryLicense},
                #{factoryRegisterTime},
                #{factoryLegalperson},
                #{factoryStatus})
    </insert>

    <!--删除工厂 湛玉欣 2019.8.21-->
    <update id="updateFactory" parameterType="java.lang.String">
        update factory set factory_status ='0' where factory_id=#{factoryId}
    </update>

    <!--修改工厂 湛玉欣 2019.8.21-->
    <update id="modifyFactory" parameterType="org.taru.producttracing.pojo.Factory">
        update factory set  factory_name=#{factoryName},
                            factory_logo=#{factoryLogo},
                            factory_telphone=#{factoryTelphone},
                            factory_address=#{factoryAddress},
                            factory_business_photo=#{factoryBusinessPhoto},
                            factory_license=#{factoryLicense},
                            factory_register_time=#{factoryRegisterTime},
                            factory_legalperson=#{factoryLegalperson},
                            factory_status=#{factoryStatus}
                    where   factory_id=#{factoryId}
    </update>

    <!--查询工厂 湛玉欣 2019.8.21-->
    <select id="findAllFactory" resultType="hashMap">
       select
                factory_id as factoryId,
                factory_name as factoryName,
                factory_logo as factoryLogo ,
                factory_telphone as factoryTelphone,
                factory_address as factoryAddress,
                factory_business_photo as factoryBusinessPhoto,
                factory_license as factoryLicense,
                factory_register_time as factoryRegisterTime,
                factory_legalperson as factoryLegalperson,
                factory_status as fatoryStatus
       from factory
    </select>

    <!--根据id查询工厂详情-->
    <select id="findFactoryById" resultType="org.taru.producttracing.pojo.Factory">
       select
                factory_id as factoryId,
                factory_name as factoryName,
                factory_logo as factoryLogo ,
                factory_telphone as factoryTelphone,
                factory_address as factoryAddress,
                factory_business_photo as factoryBusinessPhoto,
                factory_license as factoryLicense,
                factory_register_time as factoryRegisterTime,
                factory_legalperson as factoryLegalperson,
                factory_status as fatoryStatus
       from factory
       where  factory_id=#{factoryId}
    </select>

    <!--模糊搜索工厂-->
    <select id="findAllFactoryByName" resultType="hashmap">
        <bind name="pattern" value="'%'+_parameter.factoryName+'%'"/>
        select
        factory_id as factoryId,
        factory_name as factoryName,
        factory_logo as factoryLogo ,
        factory_telphone as factoryTelphone,
        factory_address as factoryAddress,
        factory_business_photo as factoryBusinessPhoto,
        factory_license as factoryLicense,
        factory_register_time as factoryRegisterTime,
        factory_legalperson as factoryLegalperson,
        factory_status as fatoryStatus
        from factory where factory_name like #{pattern}
    </select>

    <!--查询工厂姓名-->
    <select id="findAllFactoryName" resultType="hashmap">
        select  factory_name as factoryName,
                factory_id as factoryId
        from factory
    </select>

</mapper>