<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.producttracing.dao.NewsDao">

<!--    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>-->
    <resultMap id="BaseResultMap" type="org.taru.producttracing.pojo.News" >
        <id column="news_id" property="newsId" jdbcType="VARCHAR" />
        <result column="news_name" property="newsName" jdbcType="VARCHAR" />
        <result column="news_content" property="newsContent" jdbcType="VARCHAR" />
        <result column="news_photo" property="newsPhoto" jdbcType="VARCHAR" />
        <result column="news_time" property="newsTime" jdbcType="VARCHAR" />
        <result column="news_status" property="newsStatus" jdbcType="TINYINT" />
    </resultMap>
    <sql id="BaseSqlColumn">
        news_id,news_name,news_content,news_photo,news_time,news_status
    </sql>
    <!--查询所有新闻-->
    <select id="selectNews"    resultMap="BaseResultMap" >

        select
        <include refid="BaseSqlColumn"></include>
        from  news where news_status='1'
    </select>
    <!--删除新闻-->
    <update id="delNewsById">
        update news set news_status='0' where news_id =#{newsId}
    </update>
    <select id="selectNewsById"    resultMap="BaseResultMap" >
        select
        <include refid="BaseSqlColumn"></include>
        from  news where news_id =#{newsId}
    </select>
    <!-- 排序新闻-->
    <select id="sortByTime" resultMap="BaseResultMap" >
    select
    <include refid="BaseSqlColumn"></include>
    from  news where  news_status='1' order by  news_time  desc
    </select>

    <!--发布新闻-->
    <insert id="insertNews" parameterType="org.taru.producttracing.pojo.News">
        insert into news(news_id,news_name,news_content,news_photo,news_time,news_status)
        values (#{newsId},#{newsName},#{newsContent},#{newsPhoto},#{newsTime},1)
    </insert>
    <!--新闻模糊查询-->
    <select id="queryNewsLike" resultMap="BaseResultMap">
        <bind name="likeNews" value=" '%'+_parameter.newsName+'%' "/>
        select
        <include refid="BaseSqlColumn"></include>
        from news where news_name like #{likeNews}
    </select>
</mapper>