<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.producttracing.dao.UserDao">

    <!--前台用户登录2019/8/20-11：54-->
    <select id="login" parameterType="HashMap" resultMap="UserMap">
        SELECT
            *
        FROM
        USER
        WHERE
            user_name = #{username}
	    AND user_password = #{password}
    </select>
    <resultMap id="UserMap" type="org.taru.producttracing.pojo.User">
        <id property="userId"           column="USER_ID" jdbcType="VARCHAR"></id>
        <result property="userName"     column="USER_NAME" jdbcType="VARCHAR"></result>
        <result property="userPassword" column="USER_PASSWORD" jdbcType="VARCHAR"></result>
        <result property="userTelphone" column="USER_TELPHONE" jdbcType="VARCHAR"></result>
        <result property="userAddress"  column="USER_ADDRESS" jdbcType="VARCHAR"></result>
        <result property="userComment"  column="USER_COMMENT" jdbcType="VARCHAR"></result>
        <result property="userStatus"   column="USER_STATUS" jdbcType="VARCHAR"></result>
    </resultMap>

    <!--前台用户注册-->
</mapper>